################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/eshop-microservices/.vs/eshop-microservices
/src/.vs/eshop-microservices
